@import 'tailwindcss';

.smooth-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* smooth momentum (mobile) */
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}